doctype html
html
  head    
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=latin-ext', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    block content
    include scripts

       
