
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap-validator/dist/validator.min.js")
script(src="/lib/react/react.min.js")
script(src="/lib/react/react-dom.min.js")
script(src="/javascripts/vendors.js")
script(src="/javascripts/bundle.min.js")