<div data-ui-role="content">{{{content}}}</div>


<div class="table-responsive">
    <table class="table table-hover manage-u-table">
        <thead>
            <tr>
                <th width="70" class="text-center">#</th>
                <th>NAME</th>
                <th>OCCUPATION</th>
                <th>EMAIL</th>
                <th>ADDED</th>
                <th width="250">CATEGORY</th>
                <th width="300">MANAGE</th>
            </tr>
        </thead>
        <tbody>
            {{#each model}}
            <tr>
                <td class="text-center">1</td>
                <td>{{title}}
                    <br><span class="text-muted">Texas, Unitedd states</span></td>
                <td>Visual Designer
                    <br><span class="text-muted">Past : teacher</span></td>
                <td>daniel@website.com
                    <br><span class="text-muted">999 - 444 - 555</span></td>
                <td>{{createdAt}}
                    <br><span class="text-muted">10: 55 AM</span></td>
                <td>
             
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-key"></i></button>
                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-trash"></i></button>
                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-20"><i class="ti-upload"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</div>
